$blue: #2d8cf0;
$light-blue: #dfebf8;

.item {
  box-sizing: border-box;
  padding: 0 1.5em;
  line-height: 2.5;
  white-space: nowrap;
  cursor: pointer;
  color: #000;
  position: relative;
  background: #fff;
  min-width: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &[data-active="true"],
  &:hover {
    color: $blue;
    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      background: $blue;
      height: 2px;
    }
  }
  &.vertical {
    justify-content: flex-start;
    width: 240px;
    &[data-active="true"],
    &:hover {
      color: $blue;
      background: $light-blue;
      &::after {
        content: none;
      }
    }
    &:hover {
      background: $light-blue;
    }
  }
  &.disabled {
    color: #909399 !important;
    cursor: not-allowed !important;
    &:hover,
    &[data-active="true"] {
      color: #909399 !important;
      background: inherit !important;
      &::after {
        content: none !important;
      }
    }
  }
}